<div class="productList">
    {{#each products}}
    <div class="productCard">
        <div class="cardProduct__image">
            <img src="{{this.imageUrl}}" alt="{{this.name}}" />
        </div>
        <div class="cardProduct__info">
            <h3>{{this.name}}</h3>
            <p>{{this.description}}</p>
            <p>$ {{this.price}}</p>
            <p>{{this.code}}</p>
        </div>
        <button class="addCart">Agregar al carrito</button>
    </div>
    {{/each}}
</div>
<div class="paginationContainer">
    {{#if hasPrevPage}}
    <a class="prev" href="/products?page={{prevPage}}"><button class="pagination-button">Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a class="next" href="/products?page={{nextPage}}"><button class="pagination-button">Siguiente</button></a>
    {{/if}}
</div>